{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://livejs.com/live.js"></script>
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Craigslist Jr</title>
</head>
<body>
  
  <div id="container">
    <h1 id=title>craigslist jr</h1>
    <div id="navbar">
      <a href="{% url 'categories:category_list' %}">Categories List</a>
      {% block back %}
      {% endblock %}
      

    </div>
    {% block title %}
    {% endblock %}
    <br>
    <br>

    {% block content %}
    {% endblock %}

    <br>
    <br>
    </div>
</body>
</html>